<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>

		<form action="/noticias/Salvar" method="POST">
			<label>Título</label>
			<input type="text" id="TITULO" name="TITULO" placeholder="Informe o título da noticia"/>
			<br/>
			<label>Resumo</label>
			<input type="text" id="RESUMO" name="RESUMO" placeholder="Informe o resumo da noticia"/>
			<br/>
			<label>Autor</label>
			<input type="text" id="AUTOR" name="AUTOR" placeholder="Informe o autor da noticia"/>
			<br/>
			<label>Data da notícia</label>
			<input type="date" id="DT_NOTICIA" name="DT_NOTICIA"/>
			<br/>
			<label>Notícia</label>
			<textarea id="NOTICIA" name="NOTICIA" rows="5" cols="30"></textarea>
			<br/>
			<input type="submit" value="Entrar">
		</form>


	</body>
</html>