<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Portal de notícias</title>
		
		<!-- JQuery -->
		<script src="/js/jquery-3.3.1.js"></script>
		
		<!-- bootstrap-->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<script src="/js/bootstrap.min.js"></script>
	
		<!-- incluindo css -->
		<link href="/css/style.css" rel="stylesheet">

		<!-- favicon -->
		<link rel="shortcut icon" href="/images/favicon.ico" />
	</head>

	<body>
		
		<nav class="navbar navbar-expand-lg navbar-light mb-4 fixed-top">
			<a class="navbar-brand" href="#"><img src="images/logo.png" class="d-inline-block align-top" alt=""></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="index.ejs">HOME <span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>
		</nav>

	    <div class="container">
			
			<% if(validacao) { %>
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-danger">
							<strong>Atenção!</strong>
							<ul>
								<% for(let i =0; i < validacao.length; i++) {%>
									<li><%= validacao[i].msg %></li>
								<% } %>
							</ul>
						</div>
					</div>
				</div>
			<% } %>
	    	<div class="row">
	    		<div class="col-md-12">
	    			<form action="noticias/salvar" method="POST">
						<div class="form-group">
							<label for="titulo">Título:</label>
							<input type="text" class="form-control" id="titulo" name="TITULO">
						</div>

						<div class="form-group">
							<label for="pwd">Resumo:</label>
							<input type="text" class="form-control" id="resumo" name="RESUMO">
						</div>
						
						<div class="form-group">
							<label for="pwd">Autor:</label>
							<input type="text" class="form-control" id="autor" name="AUTOR">
						</div>

						<div class="form-group">
							<label for="pwd">Data:</label>
							<input type="date" class="form-control" id="data_noticia" name="DT_NOTICIA">
						</div>

						<div class="form-group">
							<label for="pwd">Notícia:</label>
							<textarea class="form-control" id="noticia" name="NOTICIA"></textarea>
						</div>


						<button type="submit" class="btn btn-primary">Cadastrar</button>
					</form>
		    	</div>
	    	</div>
	    </div>
	</body>
</html>