<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícia</title>
		</head>
	<body>

		<h1>Notícias</h1>
		<table>
			<tr>
				<td>ID</td>
				<td>Titulo</td>
				<td>Noticia</td>
			</tr>
			<tr>
				<td><%= noticia[0].ID_NOTICIA %></td>
				<td><%= noticia[0].TITULO %></td>
				<td><%= noticia[0].NOTICIA %></td>
			</tr>
		</table>

	</body>
</html>